/* Estilos para el contenedor principal */
.quienes-somos-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto;
  align-items: center; /* Centra el contenido horizontalmente */
}

/* Estilos para cada columna */
.column {
  flex: 1;
  padding: 0%;
  /* Agrega un borde para separar las columnas */
  margin: 10px;
  background-color: #000000; /* Fondo de las columnas */
}

/* Estilos para los títulos */
.column h2 {
  font-size: 24px;
  text-align: center;
  color: rgb(169, 140, 90);
}

/* Estilos para los párrafos */
.column p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: justify;
}
.quienes1 {
  width: 100%;
}
.contenido {
  width: 50%;
  text-align: center;
}
.contenido p {
  padding: 2rem;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
}

.accordion-question {
  cursor: pointer;
}

.accordion-answer {
  display: none;
  padding: 10px;
  background-color: #f1f1f1;
}

.active .accordion-answer {
  display: block;
}
